# Validate here (section: User Token Generator): https://developers.facebook.com/apps/{APP_ID}/instagram-basic-display/basic-display/
INSTAGRAM_TOKEN_KEY=

# Validate here with token user: https://developers.facebook.com/tools/debug/accesstoken/
USER_ID=

# Email For Paypal business
BUSINESS_EMAIL=